<header>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button type="text" (click)="visible = !visible" icon="pi pi-th-large"></p-button>
    </div>
  </p-toolbar>
</header>
<p-sidebar [(visible)]="visible" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Left Sidebar</h1>
  <p-button type="button" (click)="visible = false" label="Save" styleClass="p-button-success"></p-button>
  <p-button type="button" (click)="visible = false" label="Cancel" styleClass="p-button-secondary ml-2"></p-button>
</p-sidebar>
<div class="mt-8 p-2">
  <router-outlet></router-outlet>
</div>